@model Model.Models.Usuario

<div class="form-horizontal">
    <div class="container text-center">
        <div class="row thumbnail">
            <hr />
            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.NomeUsuario, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.NomeUsuario, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    </div>

                    @Html.LabelFor(model => model.NomeMae, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.NomeMae, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    </div>
                    <div class="col-md-2"> </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EmailUsuario, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.EmailUsuario, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                </div>
                @Html.LabelFor(model => model.DataNascimento, htmlAttributes: new { @class = "control-labeul col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.DataNascimento, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                </div>
                <div class="col-md-4"> </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TipoUsuario, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.TipoUsuario, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                </div>
               
                <div class="col-md-3">
                </div>
                <div class="col-md-4"> </div>
            </div>

            <br />
            <p>
                @Html.ActionLink("Editar", "Edit", new { id = Model.IdUsuario }, new { @class = "btn btn-default" }) |
                @Html.ActionLink("Voltar", "Index","", new { @class = "btn btn-default" })
            </p>
        </div>
    </div>
</div>
