@model IEnumerable<Model.Models.Usuario>

@{
    ViewBag.Title = "Index";
}

<div>
    <div>
        <h2>Administrador</h2>
    </div>
    <div class="row">
        <div class="col-md-3">
            @using (Html.BeginForm("Buscar", "Administrador"))
            {
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"> Usuário </span>
                    <div class="col-md-3">
                        @Html.Editor("matricula")
                        @Html.ValidationMessage("")
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3"> </div>
                    <div class="col-md-3">
                        
                        <input type="submit" value="Busca" class="btn btn-default"/>
                    </div>
                    <div class="col-md-6">
                        @Html.ActionLink("Limpar", "","", new { @class = "btn btn-default", @type = "reset" })
                    </div>
                    <br/>
                </div>
            }
            </div>
            <div class="col-md-9">


                <p>
                    @Html.ActionLink("Cadastrar", "Create", "", new { @class = "btn btn-default" })
                </p><br>

                @if (Model != null)
                {
                    WebGrid tabela = new WebGrid(source: Model, rowsPerPage: 4, canPage: true,
                                canSort: true, defaultSort: "Usuario");
                    @tabela.GetHtml(caption: "", displayHeader: true, fillEmptyRows: true,
                     emptyRowCellValue: "___", mode: WebGridPagerModes.All, numericLinksCount: 2, tableStyle: "table",
                     columns: tabela.Columns(
                         tabela.Column("NomeUsuario", "Nome"),
                         tabela.Column("MatriculaUsuario", "Matrícula"),
                         tabela.Column("TipoUsuario","Nível do Usuário"),
                         tabela.Column("Ações", "Ações", canSort: false,
                             format: (item) =>
                                     new HtmlString(String.Format("{0} {1} {2}", new object[] {
                                                Html.ActionLink("Editar", "Edit", new { id = item.IdUsuario }, new { @class = "btn btn-default" }).ToString(),
                                                Html.ActionLink("Remover", "Delete", new { id = item.IdUsuario }, new { @class = "btn btn-default" }).ToString(),
                                                Html.ActionLink("Detalhes", "Details", new { id = item.IdUsuario }, new { @class = "btn btn-default" }).ToString()
                                     }))
                         )
                     )
                 );
                }
                else
                {
                    <p>Nenhum Usuário Cadastrado</p>
                }
            </div>
        </div>

</div>

