<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Portal Odonto</title>
    @Styles.Render("~/Content/css")    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Portal Odonto", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <div style="margin-left: 1100px;">
                    @if (PortalOdonto.Util.SessionHelper.Get(PortalOdonto.Util.SessionKey.USUARIO) != null && User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("Logout", "Logout", new { controller = "Usuario" }, new { @class = "navbar-brand" })
                    }
                    else
                    {
                        @Html.ActionLink("Login", "Login", new { controller = "Usuario" }, new { @class = "navbar-brand" })
                    }

                </div>
             
            </div>            
            </div>
        </div>    
    <div class="container body-content">        
        @RenderBody()
        
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year -Universidade Federal de Sergipe</p>
        </footer>
    </div>   
</body>
</html>

@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/jquery.cycle.all.js")
@Scripts.Render("~/Scripts/jquery.maskedinput-1.3.js")
@Scripts.Render("~/bundles/bootstrap")
<script>
    $(function () {
        $("slide ul").cycle({
            fx: 'fade',
            speed: 2000,
            timeout: 4000
        });
        //Mascaras
        $('.date-mask').mask("99/99/9999");
    });
</script>





