@model Model.Models.UsuarioExterno

@{
    ViewBag.Title = "CadastrarTriagem";
}

<h2>CadastrarTriagem2</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>UsuarioExterno</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Paciente.NomePaciente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Paciente.NomePaciente, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Paciente.NomePaciente, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Paciente.RgPaciente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Paciente.RgPaciente, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Paciente.RgPaciente, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="form-group">

            @Html.LabelFor(model => model.Paciente.CpfPaciente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Paciente.CpfPaciente, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Paciente.CpfPaciente, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Paciente.EnderecoPaciente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Paciente.EnderecoPaciente, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Paciente.EnderecoPaciente, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="form-group">

            @Html.LabelFor(model => model.Paciente.ResponsavelPaciente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Paciente.ResponsavelPaciente, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Paciente.ResponsavelPaciente, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Paciente.Dt_nascimentoPaciente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Paciente.Dt_nascimentoPaciente, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Paciente.Dt_nascimentoPaciente, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="form-group">

            @Html.LabelFor(model => model.Paciente.Sexo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Paciente.Sexo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Paciente.Sexo, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Paciente.Naturalidade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Paciente.Naturalidade, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Paciente.Naturalidade, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="form-group">

            @Html.LabelFor(model => model.Paciente.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Paciente.Estado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Paciente.Estado, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Paciente.Nacionalidade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Paciente.Nacionalidade, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Paciente.Nacionalidade, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="form-group">

            @Html.LabelFor(model => model.Paciente.EstadoCivil, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Paciente.EstadoCivil, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Paciente.EstadoCivil, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Paciente.Raca, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Paciente.Raca, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Paciente.Raca, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="form-group">

            @Html.LabelFor(model => model.Paciente.Religiao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Paciente.Religiao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Paciente.Religiao, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Paciente.Peso, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Paciente.Peso, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Paciente.Peso, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Paciente.Altura, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Paciente.Altura, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Paciente.Altura, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Paciente.GrauDeInstrucao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Paciente.GrauDeInstrucao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Paciente.GrauDeInstrucao, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Paciente.Pai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Paciente.Pai, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Paciente.Pai, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Paciente.Mae, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Paciente.Mae, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Paciente.Mae, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="form-group">

            @Html.LabelFor(model => model.Paciente.NacionalidadePai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Paciente.NacionalidadePai, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Paciente.NacionalidadePai, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Paciente.NacionalidadeMae, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Paciente.NacionalidadeMae, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Paciente.NacionalidadeMae, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="form-group">

            @Html.LabelFor(model => model.Paciente.Profissao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Paciente.Profissao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Paciente.Profissao, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Paciente.Zona, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Paciente.Zona, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Paciente.Zona, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="form-group">

            @Html.LabelFor(model => model.Paciente.Contato, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Paciente.Contato, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Paciente.Contato, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Paciente.Cidade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Paciente.Cidade, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Paciente.Cidade, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Paciente.PressaoArterial, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Paciente.PressaoArterial, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Paciente.PressaoArterial, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Paciente.BatimentoCardiaco, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Paciente.BatimentoCardiaco, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Paciente.BatimentoCardiaco, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2"></div>
        </div>      
        <div class="form-group">
            @Html.LabelFor(model => model.Triagem.NomePaciente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Triagem.NomePaciente, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Triagem.NomePaciente, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Triagem.DataTriagem, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Triagem.DataTriagem, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Triagem.DataTriagem, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Triagem.Procedimento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Triagem.Procedimento)
                    @Html.ValidationMessageFor(model => model.Triagem.Procedimento, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.LabelFor(model => model.Triagem.Radiologia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Triagem.Radiologia)
                    @Html.ValidationMessageFor(model => model.Triagem.Radiologia, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.LabelFor(model => model.Triagem.Periapical, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Triagem.Periapical)
                    @Html.ValidationMessageFor(model => model.Triagem.Periapical, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.LabelFor(model => model.Triagem.Panoramica, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Triagem.Panoramica)
                    @Html.ValidationMessageFor(model => model.Triagem.Panoramica, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Triagem.Interproximal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Triagem.Interproximal)
                    @Html.ValidationMessageFor(model => model.Triagem.Interproximal, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.LabelFor(model => model.Triagem.Dentistica, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Triagem.Dentistica)
                    @Html.ValidationMessageFor(model => model.Triagem.Dentistica, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Triagem.ClasseI, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Triagem.ClasseI)
                    @Html.ValidationMessageFor(model => model.Triagem.ClasseI, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.LabelFor(model => model.Triagem.ClasseII, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Triagem.ClasseII)
                    @Html.ValidationMessageFor(model => model.Triagem.ClasseII, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.LabelFor(model => model.Triagem.ClasseIII, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Triagem.ClasseIII)
                    @Html.ValidationMessageFor(model => model.Triagem.ClasseIII, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.LabelFor(model => model.Triagem.ClasseIV, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Triagem.ClasseIV)
                    @Html.ValidationMessageFor(model => model.Triagem.ClasseIV, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Triagem.ClasseV, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Triagem.ClasseV)
                    @Html.ValidationMessageFor(model => model.Triagem.ClasseV, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Triagem.Clareamento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Triagem.Clareamento)
                    @Html.ValidationMessageFor(model => model.Triagem.Clareamento, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.LabelFor(model => model.Triagem.Periodontia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Triagem.Periodontia)
                    @Html.ValidationMessageFor(model => model.Triagem.Periodontia, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Triagem.Cirurgia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Triagem.Cirurgia)
                    @Html.ValidationMessageFor(model => model.Triagem.Cirurgia, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.LabelFor(model => model.Triagem.CirugiaSimples, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Triagem.CirugiaSimples)
                    @Html.ValidationMessageFor(model => model.Triagem.CirugiaSimples, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.LabelFor(model => model.Triagem.CirugiaAvancada, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Triagem.CirugiaAvancada)
                    @Html.ValidationMessageFor(model => model.Triagem.CirugiaAvancada, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.LabelFor(model => model.Triagem.Endodontia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Triagem.Endodontia)
                    @Html.ValidationMessageFor(model => model.Triagem.Endodontia, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.LabelFor(model => model.Triagem.Pediatria, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Triagem.Pediatria)
                    @Html.ValidationMessageFor(model => model.Triagem.Pediatria, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Triagem.Protese, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Triagem.Protese)
                    @Html.ValidationMessageFor(model => model.Triagem.Protese, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.LabelFor(model => model.Triagem.ProtesePt, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Triagem.ProtesePt)
                    @Html.ValidationMessageFor(model => model.Triagem.ProtesePt, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.LabelFor(model => model.Triagem.ProtesePpr, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Triagem.ProtesePpr)
                    @Html.ValidationMessageFor(model => model.Triagem.ProtesePpr, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.LabelFor(model => model.Triagem.ProteseFixa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Triagem.ProteseFixa)
                    @Html.ValidationMessageFor(model => model.Triagem.ProteseFixa, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Triagem.MotivoConsulta, htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                @Html.TextAreaFor(model => model.Triagem.MotivoConsulta, new { rows = "", cols = "", style = "width: 240%; height: 100px;", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Triagem.MotivoConsulta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
