@model Model.Models.Triagem

@{
    ViewBag.Title = "CadastrarTriagem";
}

<h2></h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Triagem</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       <div class="form-group">
            @Html.LabelFor(model => model.NomePaciente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.NomePaciente, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NomePaciente, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.DataTriagem, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.DataTriagem, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DataTriagem, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Procedimento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Procedimento)
                    @Html.ValidationMessageFor(model => model.Procedimento, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.LabelFor(model => model.Radiologia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Radiologia)
                    @Html.ValidationMessageFor(model => model.Radiologia, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.LabelFor(model => model.Periapical, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Periapical)
                    @Html.ValidationMessageFor(model => model.Periapical, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.LabelFor(model => model.Panoramica, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Panoramica)
                    @Html.ValidationMessageFor(model => model.Panoramica, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Interproximal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Interproximal)
                    @Html.ValidationMessageFor(model => model.Interproximal, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.LabelFor(model => model.Dentistica, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Dentistica)
                    @Html.ValidationMessageFor(model => model.Dentistica, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClasseI, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ClasseI)
                    @Html.ValidationMessageFor(model => model.ClasseI, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.LabelFor(model => model.ClasseII, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ClasseII)
                    @Html.ValidationMessageFor(model => model.ClasseII, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.LabelFor(model => model.ClasseIII, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ClasseIII)
                    @Html.ValidationMessageFor(model => model.ClasseIII, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.LabelFor(model => model.ClasseIV, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ClasseIV)
                    @Html.ValidationMessageFor(model => model.ClasseIV, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClasseV, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ClasseV)
                    @Html.ValidationMessageFor(model => model.ClasseV, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Clareamento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Clareamento)
                    @Html.ValidationMessageFor(model => model.Clareamento, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.LabelFor(model => model.Periodontia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Periodontia)
                    @Html.ValidationMessageFor(model => model.Periodontia, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cirurgia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Cirurgia)
                    @Html.ValidationMessageFor(model => model.Cirurgia, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.LabelFor(model => model.CirugiaSimples, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.CirugiaSimples)
                    @Html.ValidationMessageFor(model => model.CirugiaSimples, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.LabelFor(model => model.CirugiaAvancada, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.CirugiaAvancada)
                    @Html.ValidationMessageFor(model => model.CirugiaAvancada, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.LabelFor(model => model.Endodontia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Endodontia)
                    @Html.ValidationMessageFor(model => model.Endodontia, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.LabelFor(model => model.Pediatria, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Pediatria)
                    @Html.ValidationMessageFor(model => model.Pediatria, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Protese, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Protese)
                    @Html.ValidationMessageFor(model => model.Protese, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.LabelFor(model => model.ProtesePt, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ProtesePt)
                    @Html.ValidationMessageFor(model => model.ProtesePt, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.LabelFor(model => model.ProtesePpr, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ProtesePpr)
                    @Html.ValidationMessageFor(model => model.ProtesePpr, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.LabelFor(model => model.ProteseFixa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ProteseFixa)
                    @Html.ValidationMessageFor(model => model.ProteseFixa, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MotivoConsulta, htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                @Html.TextAreaFor(model => model.MotivoConsulta, new { rows = "", cols = "", style = "width: 240%; height: 100px;", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MotivoConsulta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cadastrar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

