@model Model.Models.Paciente
 

@{
    ViewBag.Title = "VisualizarPaciente";
}

<h2>VisualizarPaciente</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Paciente</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.IdPaciente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdPaciente, new { htmlAttributes = new { @class = "form-control" , @disabled = "disabled" } })
               
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NomePaciente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NomePaciente, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
              
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RgPaciente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RgPaciente, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
               
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CpfPaciente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CpfPaciente, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
               
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EnderecoPaciente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EnderecoPaciente, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
               
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ResponsavelPaciente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ResponsavelPaciente, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
               
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Dt_nascimentoPaciente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Dt_nascimentoPaciente, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
               
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sexo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sexo, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
               
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Naturalidade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Naturalidade, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
              
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
             
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nacionalidade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nacionalidade, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
              
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EstadoCivil, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EstadoCivil, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
              
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Raca, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Raca, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Religiao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Religiao, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
             
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Peso, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Peso, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Altura, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Altura, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
         
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GrauDeInstrucao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GrauDeInstrucao, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
             
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pai, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
               
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mae, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mae, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
             
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NacionalidadePai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NacionalidadePai, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NacionalidadeMae, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NacionalidadeMae, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
               
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Profissao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Profissao, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
             
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Zona, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Zona, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
              
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Contato, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Contato, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
             
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cidade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
             
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PressaoArterial, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PressaoArterial, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
             
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BatimentoCardiaco, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BatimentoCardiaco, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            
            </div>
        </div>

        
    </div>
}

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdPaciente }, new { @class = "btn btn-default" }) |
    @Html.ActionLink("Voltar", "Index",  new { Controller = "Tecnico" ,  @class = "btn btn-default" })
</p>